@import "../../assets/styles/helpers/functions";
@import "../../assets/styles/variables/units";
.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  position: relative;
}
.container > * {
  height: 100%;
}
.seeSaw {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.875rem;
  width: 75rem;
  max-width: 90%;
  margin: 0 auto;
  height: 100%;
}
.top {
  background-color: yellow;
  flex-grow: 1;
  position: relative;
  width: 75rem;
  max-width: 90%;
  margin: 0 auto;
}

.elementContainer {
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  width: rem($beam-width);
  max-width: 100%;
  height: rem($beam-height);
  margin: 0 auto;
  &::before {
    display: none;
  }
}
.beam {
  width: 46.875rem;
  max-width: 100%;
  transition: transform 0.25s ease;
  &::before {
    content: "";
    display: block;
    height: 0.4375rem;
    background-color: #cc4125;
    background: #000;
    background: radial-gradient(circle, #cc4125 0, #000 100%);
  }
}
