.fulcrum {
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 12.5rem solid transparent;
    border-top-width: 0;
    border-bottom-color: black;
  }
  &::after {
    position: relative;
    border-bottom-color: #666;
  }
}
